body {
    margin: 0;
    padding: 0;
  
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #333333;
    text-transform: uppercase;
    
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.main-navigator {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    
    background-color: #ffffff;
}

.site-navigation,
.footer-social ul,
.sort-links,
.search-result-list {
    list-style: none;
}

.site-navigation a {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
}

/*Стилизация ссылок в тегах <nav>*/

.site-navigation a:link {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: #cacaca;
}

.site-navigation .active {
    color: #766357;
}

/*Стилизация тега <header> на главной странице*/

.main-header {
    position: relative;
    width: 1200px;
    height: 510px;
    
    background-color: #dfebf2;
    background-image: url("../img/polygon.svg"),
        url("../img/header-index-bg.jpg");
    background-size: 1200px, 1200px;
    background-position: 0 453px, 0 -56px;
    background-repeat: no-repeat, no-repeat;
}

.main-header img {
    position: absolute;
    top: 76px;
    left: 370px;
}

/*Стилизация секции "Преймущества" на главной странице*/

.advantages-intro-mark {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

.advantages-intro {
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    text-align: center;
    color: #333333;
}

.advantages-item-1-container,
.advantages-item-2-container {
    background-color: #81b3d2;
}

.advantages-item-1-container h3,
.advantages-item-2-container h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

.advantages-item-1-container p,
.advantages-item-2-container p {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
}

.advantages-extra b {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    color: #000000;
}

.advantages-extra p {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    text-align: center;
    color: #000000;
}

.advantages-item-3,
.advantages-item-4,
.advantages-item-5 {
    background-color: #eeeeee;
}

.advantages-item-3 h3,
.advantages-item-4 h3,
.advantages-item-5 h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

.advantages-item-3 p,
.advantages-item-4 p,
.advantages-item-5 p {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    text-align: center;
    color: #333333;
}

/*Стилизация секции с ссылкой "Поиск гостиницы в Седоне"*/

.container-before-search-form b {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

.container-before-search-form p {
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    text-align: center;
}

.btn-open-form {
    display: block;
    
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;    
}

.btn-open-form:link {
    color: #ffffff;
    
    background-color: #766357;
}

.btn-open-form:hover,
.btn-open-form:focus {
    color: #ffffff;
    
    background-color: #604e43;
}

.btn-open-form:active {
    color: #928a85;
    
    background-color: #503e33;
}

/*Стилизация формы поиска жилья на главной странице*/

.form-search label {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
}

.form-search input[type="text"] {
    border: 2px solid #f2f2f2;
    
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    
    background-color: #f2f2f2;
}

.form-search input[type="text"]:hover {
    border: 2px solid #ebebeb;
    
    background-color: #ebebeb;
}

.form-search input[type="text"]:focus {
    border: 2px solid #e5e5e5;
    
    background-color: #ffffff;
    outline: none;
}

button[class^="plus"],
button[class^="minus"] {
    border: none;
    
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    color: #a9a9a9;
    
    background-color: #f2f2f2;
}

button[class^="plus"]:hover,
button[class^="minus"]:hover,
button[class^="plus"]:focus,
button[class^="minus"]:focus {
    color: #000000;
}

button[class^="plus"]:active,
button[class^="minus"]:active {
    color: #81b3d2;
}

.form-search .find {
    border: none;
    
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    
    background-color: #81b3d2;
}

.form-search .find:hover,
.form-search .find:focus {
    background-color: #669ec0;
}

.form-search .find:active {
    color: #94b9d2;
    
    background-color: #5496bd;
}

/*Стилизация подвала*/

.main-footer {
    background-color: rgba(255, 255, 255, 0.5);
}

.hash-tag {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}

.btn-social {
    background-color: #81b3d2;
}

.author {
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    color: #000000;
}

/*Логотип HTML Academy*/

.logo-htmlacademy-svg {
    width: 115px;
    height: 41px;
}

.logo-htmlacademy path,
.logo-htmlacademy rect {
    fill: #231f20;
}

.logo-htmlacademy:hover path,
.logo-htmlacademy:hover rect,
.logo-htmlacademy:focus path,
.logo-htmlacademy:focus rect{
    fill: #81b3d2;
}

.logo-htmlacademy:active path,
.logo-htmlacademy:active rect {
    fill: #bdbbbc;
}
/*конец*/

/*Стилизация формы фильтра на странице каталога*/

.search-filter {
    background-color: #566571;
    background-image: url("../img/filter-bg-catalog.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.search-filter fieldset {
    border: none;
}

.search-filter legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    color: #ffffff;
}

.search-filter label {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #ffffff;
}

.search-filter-range-params {
    border: 2px solid #ffffff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    
    background-color: transparent;
}

.search-filter-range-params input {
    border: none;
    
    color: #ffffff;
    
    background-color: transparent;
}

.search-filter .show {
    border: 2px solid #ffffff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    
    text-align: center;
    color: #ffffff;
    
    background-color: transparent;
}

.search-filter .show:hover,
.search-filter .show:focus {
    color: #000000;
    
    background-color: #ffffff;
}

/*Стилизация ссылок для сортировки на станице каталога*/

.search-result-output-text b {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}

.search-result-output-text span {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    color: #000000;
}

.sort-links a {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
}

.sort-links .active {
    color: #81b3d2;
}

.sort-links a:link {
    border-bottom: 1px dotted #81b3d2;
    
    color: #cacaca;
}

.sort-links a:hover,
.sort-links a:focus {
    border-bottom: 1px dotted #81b3d2;
    
    color: #81b3d2;
}

.sort-links a:active {
    border-bottom: none;
    
    color: #000000;
}

.btn-filter svg[class^="svg"] {
    width: 11px;
    height: 10px;
}

.btn-filter-to-min polyline,
.btn-filter-to-max {
    fill: #cacaca;
}

.btn-filter-to-min:hover polyline,
.btn-filter-to-max:hover polygon,
.btn-filter-to-min:focus polyline,
.btn-filter-to-max:focus polygon {
    fill: #231f20;
}

.btn-filter-to-min:active polyline,
.btn-filter-to-max:active polygon {
    fill: #81b3d2;
}

.btn-active polyline {
    fill: #81b3d2;
}

/*Стилизация карточек найденного жилья*/

.hotel-title {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.hotel-title:link {
    color: #000000;
}

.hotel-title:hover,
.hotel-title:focus {
    color: #81b3d2;
}

.hotel-title:active {
    color: #cacaca;
}

.btn-detail {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
}

.btn-detail:link {
    color: #ffffff;
    
    background-color: #81b3d2;
}

.btn-detail:hover,
.btn-detail:focus {
    color: #ffffff;
    
    background-color: #669ec0;
}

.btn-detail:active {
    color: #94b9d2;
    
    background-color: #5496bd;
}

.btn-order {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
}

.btn-order:link {
    color: #ffffff;
    
    background-color: #766357;
}

.btn-order:hover,
.btn-order:focus {
    color: #ffffff;
    
    background-color: #604e43;
}

.btn-order:active {
    color: #928a85;
    
    background-color: #503e33;
}

.rating-mark {
    color: #666666;
    
    background-color: #f2f2f2;
}